.container{
    background-color: black;
    height: 60px;
    max-width:1500px ;
}
.color1{
    color:white;
    padding-left: 50px;
}
.color2{
    color:green;
    padding-left: 10px;
}
.login{
    background-color: white;
    margin-left: 450px;
    margin-right: 450px;
    text-align: center;
    display:block;
    margin-top: 10px;

}
.box1{
  width: 90%;
  margin: 15px;
  height: 40px;
  background-color: rgb(248, 248, 248);
  color: black;
  border: none;
  border-radius: 10px;
  font-size: medium;
}
.box2{
    width: 90%;
    margin: 15px;
    height: 40px;
    background-color: black;
    color:white;
    border: none;
    border-radius: 10px;
    font-size: medium;

}
.box3{
    width: 90%;
    margin: 15px;
    height: 40px;
    background-color:rgb(248, 248, 248);
    color:black;
    border: none;
    border-radius: 10px;
    font-size: medium;
}
.box4{
    width:90%;
    margin: 15px;
    height: 40px;
    background-color:rgb(248, 248, 248);
    color:black;
    border: none;
    border-radius: 10px;
    font-size: medium;
}
.box5{
    width: 90%;
    margin: 15px;
    height: 40px;
    background-color:rgb(248, 248, 248);
    color:black;
    border: none;
    border-radius: 10px;
    font-size: medium;
}
.para1{
    font-size: small;
}
.para2{
    font-size: small;
    padding-top: 50px;
}
.para3{
    font-size: small;
}
.underline{
    text-decoration: underline;
}