.con{
    background-color: gold;
    padding: 20px;
}
ul li{
    list-style-type: none;
}
.bold{
    font-weight: bold;
}
.link{
    height: 40px;
    background-color: gold;
    border-style: none;
}
.button1{
    border-radius: 30px;
    height: 40px;
    width:100px;
    border:none;
}
.button2{
    border-radius: 30px;
    height: 40px;
    width:100px;
    border:none;
    background-color: black;
    color: white;
}
.tex{
    font-size: 3rem;
    margin-top: 20px;
    text-align: left;
}
.form-control{
    width:550px;
    height: 60px;
    float: left;
    margin: 2px;
}
.form-control1{
    width:200px;
    height: 60px;
    border-radius: 5px;
    border: none;
    outline: none;
    float: left;
    font-weight: bold;
    margin: 2px;
    padding-left:30px;
}
.fst{
    margin-top: 13%;
    margin-bottom: 5%;
}
.sec{
    margin-bottom: 15%;
}
.dropdown-menu{
    color: white;
}
.food{
    background-color: black;
    border:none;
    color:white;
    border-radius: 5px;
    width: 150px;
    height: 60px;
    font-weight: bold;
    margin: 2px;
}
.btn{
    width:200px;
    margin-left: 10px;
    background-color: white;
}
.align{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.card-deck{
    margin-top: 50px;
}
.card-title{
    font-weight: bold;
}
.card-text{
    text-decoration: underline;
}
.last1{
    margin-left: 800px;
    text-decoration: underline;
    margin-top: 15px;
}
 .img-fluid{
    margin: 10px;
    width: 1250px;
    height: 400px;
} 
.row{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-direction: column;
    justify-content:space-between;
    list-style-type: none;
}
.last2{
    padding-left: 1100px;
    text-decoration: underline;

}
.column{
    display:grid;
    flex-direction:column;
    list-style-type: none;
}
.side1{
    display:flex;
    list-style-type: none;
    flex-direction:column;
    justify-content:start;
}
.icon{
    color: rgb(18, 67, 171);
    display: flex;
    list-style-type: none;
    margin-top: 200px;
}
.logo1{
    border-radius: 10px;
    height: 60px;
    width: 150px;
    background-color: black;
    color: white;
}
.logo2{
    border-radius: 10px;
    width:150px;
    height: 60px;
    background-color: black;
    color: white;
    margin-left: 15px;
}
.side2{
    list-style-type: none;
    display:flex;
    flex-direction:column;
}